[Unit]
Description=Run Elven Code

[Service]
ExecStart=/home/ubuntu/npm/bin/npm run start-service
WorkingDirectory=/home/ubuntu/bin/eip
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eip
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=PORT=30200

[Install]
WantedBy=multi-user.target
